* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightslategray;
}

.gallery-container {
    display: grid;
    gap: 5px;
    /* height: 100vh; */
    grid-template-columns:repeat(auto-fill, minmax(150px, 1fr)); 
}
.canvas-container {
    position: relative;
    display: flex;
    border: 2px solid;
    padding: 20px;
}
canvas {
    width: 40%;
}

.control {
    padding: 40px;
    flex-grow: 1;
}

.close-control {
    position: absolute;
    top:20px;
    right: 20px;
    width: 30px;
    height: 30px;
    
}
.box-img {
    width: 150px;
    height: 150px;
    background-color: blue;
 
}

.hidden {
    display:none;
}

.icon-btn {
    height: 10px;
}

.meme-input {
    display: block;
}